{#
/**
 * Amour plugin for Craft CMS 3.x
 *
 * Amour index.twig
 *
 * @author    Pascal Ujak
 * @copyright Copyright (c) 2017 Pascal Ujak
 * @link      www.kreisvier.ch
 * @package   Amour
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("k4\\amour\\assetbundles\\amour\\AmourAsset") %}
{% do view.registerAssetBundle("k4\\amour\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "Amour" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('amour') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@k4/amour/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Index CP Section body goes here" |t }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
